html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    margin: auto;
    margin-top: 5em;
    height: 3em;
    width: 25%;
    background-color: peru;
}

